<div class="login">
      <button type="button" class="btn btn-info btn-lrg" class="login"> Log in</button>
    </div>
    <h2> Skate Channel</h2>
    <p>All you'll ever share from the skate world.</p>
    <div class="container"> 
      <div class="row">
        <div class="col">
          <form method="POST" action="login.html">
            <!-- <fieldset class="box"> --> <!--<h3>Login </h3>-->

              <label class="input" for="email"></label>
              <input class="boxy" type="email" name="email" id="email" placeholder="Email"> 

              <label class="input" for="password"> </label>
              <input type="password" name="password" id="password" placeholder="Password">

              <label class="input" type="username"></label>
              <input type="username" name="username" id="username" placeholder="Username">
            <!-- </fieldset> -->
          </form>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-primary btn-lrg" class="btn">Sign up</button>
        </div>
        <!-- close the col -->
      </div>
      <!-- close the row -->